#guidelines {
    background-blend-mode: saturation;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -10rem 0, calc(100% + 40rem) calc(100% + 20rem);
    background-image: url('../../assets/Purple-Lens-Flare-PNG.png'), url('../../assets/Purple-Lens-Flare-PNG.png');
    background-color: #150E28aa;
}

@media screen and (max-width: 1024px) {
    #guidelines {
        background-position: -10rem 0, calc(100% + 20rem) bottom;
    }
}
