body {
    @apply bg-brand-dark text-white font-montserrat text-[1.3rem] font-normal;
}

.button__primary {
    @apply rounded-[.4rem] px-[5.2rem] py-[1.6rem] font-montserrat text-[1.6rem];
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}

.button__small {
    @apply rounded-[.4rem] px-[1.4rem] py-[.8rem] text-[1.2rem] lg:text-[1.6rem] lg:px-[4.2rem] lg:py-[1.6rem];
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}

.navbar-link {
    @apply font-inter text-[1.8rem] font-medium pt-4 -tracking-widest lg:tracking-normal lg:font-montserrat
    lg:text-[1.6rem] lg:font-normal lg:ml-[5.6rem];
}

.navbar-link.active {
    background: linear-gradient(90deg, #903AFF 3.08%, #FF26B9 93.85%);
    @apply bg-clip-text;
    -webkit-text-fill-color: transparent;
}

.landing-section {
    @apply flex flex-col lg:flex-row lg:items-center border-t border-fade-gray;
}

.section-content {
    @apply text-[1.2rem] lg:text-[1.4rem];
}

.section-content h3 {
    @apply font-clash-display text-[2rem] font-bold leading-[2.66rem] py-[.9rem] lg:text-[3.2rem] lg:leading-[3.66rem]
    lg:py-[1.6rem];
}

.section-content-text {
    @apply leading-[2.75rem] text-center lg:text-left;
}

.judges-criteria {
    @apply section-content-text pt-[.7rem] pb-4;
}

.judges-criteria h4 {
    @apply inline text-brand-purple-2 font-bold text-[1.3rem] lg:text-[1.6rem] leading-[2.26rem];
}

.timeline-id-bg {
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
}

.timeline-event-number {
    @apply rounded-full w-[1.93rem] h-[1.93rem] inline-grid place-items-center font-bold text-[1.2rem] timeline-id-bg;
}

.timeline-event-number-desktop {
    @apply w-[5.3rem] h-[5.3rem] timeline-id-bg inline-grid place-items-center font-bold text-[2.4rem] rounded-full;
}

.prize {
    @apply relative flex flex-col items-center justify-end pt-[4.15rem] pb-[2.1rem] rounded-[.8rem] border
    border-brand-purple-2 bg-[#D434FE1E] px-[.9rem] lg:px-[3rem] lg:pt-[11.1rem];
}

.prize-gold {
    @apply prize !bg-[#903AFF1E] !border-brand-purple !static !pt-[6.86rem] lg:!pt-[14.9rem];
}

.prize-title {
    @apply font-semibold leading-[1.7rem] text-center lg:text-[2.4rem] lg:leading-[3.19rem];
}

.prize-title span {
    @apply lg:text-[3.6rem];
}

.prize-amount {
    @apply text-[1.4rem] font-bold leading-[3.03rem] text-brand-purple-2 lg:text-[3.2rem] lg:leading-[6.92rem];
}

.prize-medal {
    @apply w-[7.5rem] h-[7.5rem] absolute top-[-3.56rem] lg:!top-[-8.4rem] lg:w-[18rem] lg:h-[18rem];
}

.prize-medal-gold {
    @apply absolute top-[-6.24rem] w-[12.5rem] h-[12.5rem] lg:top-[-12.6rem] lg:w-[29.6rem] lg:h-[29.6rem];
}
