@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
    --font-montserrat: Montserrat, sans-serif;
    --font-inter: Inter, sans-serif;
    --font-clash-display: 'ClashDisplay-Variable', sans-serif;
    --color-white: #FFF;
    --color-dark: #150E28;
    --color-purple: #903AFF;
    --color-pink: #D434FE;
    --color-primary: linear-gradient(
            270deg,
            var(--color-purple) 0%,
            var(--color-pink) 56.42%,
            #FF26B9 99.99%,
            #FE34B9 100%
    );
}

body {
    @apply bg-brand-dark text-white font-montserrat text-[1.3rem] font-normal leading-normal;
}

.background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: clamp(97rem, 100vh, 98rem);
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0;
}
.star {
    background-image: url("./assets/star.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}
.star:nth-child(2n) {
    border-color: #FFF ;
}
.star:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}
.star:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}
.star:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}
.star:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}
.star:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}
/* ================= Header ============ */
.main-container{
    position: absolute;
    top:0;
    left: 0;
    width:100vw;
    margin: 0;
    padding: 0;
}

/* Animate Background*/
@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}
